#petData {
    background-color: #a10d0d; 
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #000;
}

.pet {
    background-color: #9b0808; 
}
